a.button
{
	width: 100%;
	color: #FFFFFF;
	background-color: #101010;
	font-family: Verdana;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #252525;
	padding: 3px;
}

a.button:link, a.button:visited, a.button:active, a.button:focus
{
	color: #FFFFFF;
	text-decoration: none;
	outline-style: none;
}

a.button:hover
{
	color: #FFFF00;
	border-style: solid;
	border-width: 1px;
	border-top-color: #505050;
	border-bottom-color: #101010;
	border-left-color: #505050;
	border-right-color: #101010;
	background-color: #303030;
}
